# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environment
.env

# Poetry
.venv/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Output files (generated during dev/testing)
output_cv.docx
output_cv.pdf

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
/build_order_sequence.svg
/app/llm/temp.ipynb
