# .env

# gemini or ollama
LLM_PROVIDER=gemini
#really good rpd soo yeah
GEMINI_API_KEY=your-key-here
GEMINI_MODEL=gemini-3.1-flash-lite-preview


# Ollama (used when LLM_PROVIDER=ollama)
# change model based on the model you pull
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=llama3.2

# Generation #kinda ignored
OUTPUT_FORMAT=pdf
TOP_N_PROJECTS=3
TOP_N_EXPERIENCE=3

# Server
API_HOST=0.0.0.0
API_PORT=8000
ENV=development